*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #090433;
}

.App {
  text-align: center;
  width: 100vw;
}

#main-card {
  margin: 0 auto;
  margin-top: 2.5rem;
  width: 75rem;
}

.button {
  position: relative;
  margin-left: 30rem;
}

@media screen and (min-width: 40em) {
  .button {
    margin: 0 auto;
    margin-top: 15px;
  }
}